name: Build and Push Docker Image

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon

      - name: Define Docker Tag (dev version)
        id: generate_tag
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
          DATE=$(date +'%Y%m%d')
          echo "TAG=dev-${DATE}-${SHORT_SHA}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}
          docker build -t $IMAGE:${{ env.TAG }} .
          docker tag $IMAGE:${{ env.TAG }} $IMAGE:latest

      - name: Push Docker image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}
          docker push $IMAGE:${{ env.TAG }}
          docker push $IMAGE:latest

      - name: List GHCR tags (optional)
        run: |
          gh api -H "Accept: application/vnd.github+json" \
            /orgs/projex-io/packages/container/taskora-back/versions | jq '.[].metadata.container.tags'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
